<a href="https://colab.research.google.com/github/akhilnooney/nooneyakhil-spring2020/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
# write your answer here
text="my name is akhil"
len(text)

16

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here
def text(string):
  dic={}
  for a in string:
      if a in dic:
          dic[a]=dic[a]+1
      else:
          dic[a]=1
  return dic
text('google.com')

{'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}

(3) Write a Python program to sum all the items in a list

In [0]:
# write your answer here
x=0
list1=[2,3,4,5,6,7,8]
for a in list1:
    x=a+x
print(x)

35

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
# write your answer here
string='restart'
firstcarc=string[0]
rep=string.replace(firstcarc,'$')
final=firstcarc+rep[1:]
print(final)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
# write your answer here
def parameter(a,b):
  S=3.14*(1+(a/b))**3
  return S
parameter(3,4)

16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
# write your answer here
def numbercheck(n):
  tup=(1,2,3,4,5)
  if n in tup:
    print("Element Exists")
  else:
    print("Element not Exixts")
numbercheck(9)

Element not Exixts

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
# write your answer here
elements=set([1,2,3,4,5,6,7,8,9,10])
print(f"Maximum number : {max(elements)}, Minimum number : {min(elements)}")

Maximum number : 10, Minimum number : 1

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
# write your answer here
import random
list=[]
studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292',
                'vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
    grouping=random.choices(studnet_list,k=6)
    studnet_list=[a for a in studnet_list if a not in grouping]
    print("Group"+str(i+1)+":",grouping)

Group1: ['vcd0017', 'pb0283', 'pk0292', 'rp0477', 'sa0753', 'sm1515']
Group2: ['vp0241', 'ps0501', 'vk0216', 'hr0178', 'al0787', 'laa0240']
Group3: ['tbl0041', 'ry0104', 'mj0396', 'mk0830', 'tbl0041', 'ap0975']
Group4: ['tpk0023', 'pt0218', 'lg0426', 'am1823', 'hn0139', 'ak0860']