<a href="https://colab.research.google.com/github/akhilnooney/nooneyakhil-spring2020/blob/master/Copy_of_Copy_of_In_class_exercise_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second In-class-exercise**

(1) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [0]:
# write your answer here
import numpy as np
def duplicates(integers):
  lists=[]
  duplicates=[]
  if len(integers)==len(set(integers)):
    return -1
  if len(integers)!=len(set(integers)):
    for a in integers:
      if a not in lists:
        lists.append(a)
      else:
        duplicates.append(a)
    print(duplicates)
        
duplicates(np.array([3,6,7,8,9,9,9,3,0]))

[9, 9, 3]

(2) Write a Python program to select all the Sundays of a specified year.

In [0]:
# write your answer here

from datetime import date
from datetime import timedelta
def sundays(year):
    date_time=date(year, 1, 1)      
    date_time=date_time+timedelta(days = 6 - date_time.weekday())  
    while date_time.year == year:
        yield date_time
        date_time=date_time+timedelta(7)
Specific_year=int(input("enter specific Year "))
for  temp in sundays(Specific_year):
   print(f"Sunday,{temp}")

enter specific Year 2020
Sunday,2020-01-05
Sunday,2020-01-12
Sunday,2020-01-19
Sunday,2020-01-26
Sunday,2020-02-02
Sunday,2020-02-09
Sunday,2020-02-16
Sunday,2020-02-23
Sunday,2020-03-01
Sunday,2020-03-08
Sunday,2020-03-15
Sunday,2020-03-22
Sunday,2020-03-29
Sunday,2020-04-05
Sunday,2020-04-12
Sunday,2020-04-19
Sunday,2020-04-26
Sunday,2020-05-03
Sunday,2020-05-10
Sunday,2020-05-17
Sunday,2020-05-24
Sunday,2020-05-31
Sunday,2020-06-07
Sunday,2020-06-14
Sunday,2020-06-21
Sunday,2020-06-28
Sunday,2020-07-05
Sunday,2020-07-12
Sunday,2020-07-19
Sunday,2020-07-26
Sunday,2020-08-02
Sunday,2020-08-09
Sunday,2020-08-16
Sunday,2020-08-23
Sunday,2020-08-30
Sunday,2020-09-06
Sunday,2020-09-13
Sunday,2020-09-20
Sunday,2020-09-27
Sunday,2020-10-04
Sunday,2020-10-11
Sunday,2020-10-18
Sunday,2020-10-25
Sunday,2020-11-01
Sunday,2020-11-08
Sunday,2020-11-15
Sunday,2020-11-22
Sunday,2020-11-29
Sunday,2020-12-06
Sunday,2020-12-13
Sunday,2020-12-20
Sunday,2020-12-27

In [0]:
#datetime.weekday()
date_time=date(2020, 1, 1) 
date_time=date_time+timedelta(6 - date_time.weekday())
date_time

datetime.date(2020, 1, 5)

(3) Python files reading and writing. Download the “[exercise_02_data _collection.zip](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/exercise_02_data_collection.zip)” to your local and un-zip it.

*   Write a program to read all the txt files and save the sentences in all the files into one csv file with two columns, the first column is sentence id (txt file name+sentence line number), the second column is the sentence text content.
*   Remove all the punctuations from the sentences, save the processed sentences into a new column in the same csv file.
*   Ask the user to enter a word, return all the sentences that include this word, three kinds of information should be returned: sentence id, sentence text content, the count that user input word appear in the sentence..

In [0]:
# write your answer here
from google.colab import files
uploaded=files.upload()

Saving ARTHROTEC.1.txt to ARTHROTEC.1.txt
Saving ARTHROTEC.2.txt to ARTHROTEC.2.txt
Saving ARTHROTEC.3.txt to ARTHROTEC.3.txt
Saving ARTHROTEC.4.txt to ARTHROTEC.4.txt
Saving ARTHROTEC.5.txt to ARTHROTEC.5.txt
Saving ARTHROTEC.6.txt to ARTHROTEC.6.txt
Saving ARTHROTEC.7.txt to ARTHROTEC.7.txt
Saving ARTHROTEC.8.txt to ARTHROTEC.8.txt
Saving ARTHROTEC.9.txt to ARTHROTEC.9.txt
Saving ARTHROTEC.10.txt to ARTHROTEC.10.txt
Saving ARTHROTEC.11.txt to ARTHROTEC.11.txt
Saving ARTHROTEC.12.txt to ARTHROTEC.12.txt
Saving ARTHROTEC.13.txt to ARTHROTEC.13.txt
Saving ARTHROTEC.14.txt to ARTHROTEC.14.txt
Saving ARTHROTEC.15.txt to ARTHROTEC.15.txt
Saving ARTHROTEC.16.txt to ARTHROTEC.16.txt
Saving ARTHROTEC.17.txt to ARTHROTEC.17.txt
Saving ARTHROTEC.18.txt to ARTHROTEC.18.txt
Saving ARTHROTEC.19.txt to ARTHROTEC.19.txt
Saving ARTHROTEC.20.txt to ARTHROTEC.20.txt
Saving ARTHROTEC.21.txt to ARTHROTEC.21.txt
Saving ARTHROTEC.22.txt to ARTHROTEC.22.txt
Saving ARTHROTEC.23.txt to ARTHROTEC.23.txt
Saving ARTHROTEC.24.txt to ARTHROTEC.24.txt
Saving ARTHROTEC.25.txt to ARTHROTEC.25.txt
Saving ARTHROTEC.26.txt to ARTHROTEC.26.txt
Saving ARTHROTEC.27.txt to ARTHROTEC.27.txt
Saving ARTHROTEC.28.txt to ARTHROTEC.28.txt
Saving ARTHROTEC.29.txt to ARTHROTEC.29.txt
Saving ARTHROTEC.30.txt to ARTHROTEC.30.txt
Saving ARTHROTEC.31.txt to ARTHROTEC.31.txt
Saving ARTHROTEC.32.txt to ARTHROTEC.32.txt
Saving ARTHROTEC.33.txt to ARTHROTEC.33.txt
Saving ARTHROTEC.34.txt to ARTHROTEC.34.txt
Saving ARTHROTEC.35.txt to ARTHROTEC.35.txt
Saving ARTHROTEC.36.txt to ARTHROTEC.36.txt
Saving ARTHROTEC.37.txt to ARTHROTEC.37.txt
Saving ARTHROTEC.38.txt to ARTHROTEC.38.txt
Saving ARTHROTEC.39.txt to ARTHROTEC.39.txt
Saving ARTHROTEC.40.txt to ARTHROTEC.40.txt
Saving ARTHROTEC.41.txt to ARTHROTEC.41.txt
Saving ARTHROTEC.42.txt to ARTHROTEC.42.txt
Saving ARTHROTEC.43.txt to ARTHROTEC.43.txt
Saving ARTHROTEC.44.txt to ARTHROTEC.44.txt
Saving ARTHROTEC.45.txt to ARTHROTEC.45.txt
Saving ARTHROTEC.46.txt to ARTHROTEC.46.txt
Saving ARTHROTEC.47.txt to ARTHROTEC.47.txt
Saving ARTHROTEC.48.txt to ARTHROTEC.48.txt
Saving ARTHROTEC.49.txt to ARTHROTEC.49.txt
Saving ARTHROTEC.50.txt to ARTHROTEC.50.txt
Saving ARTHROTEC.51.txt to ARTHROTEC.51.txt
Saving ARTHROTEC.52.txt to ARTHROTEC.52.txt
Saving ARTHROTEC.53.txt to ARTHROTEC.53.txt
Saving ARTHROTEC.54.txt to ARTHROTEC.54.txt
Saving ARTHROTEC.55.txt to ARTHROTEC.55.txt
Saving ARTHROTEC.56.txt to ARTHROTEC.56.txt
Saving ARTHROTEC.57.txt to ARTHROTEC.57.txt
Saving ARTHROTEC.58.txt to ARTHROTEC.58.txt
Saving ARTHROTEC.59.txt to ARTHROTEC.59.txt
Saving ARTHROTEC.60.txt to ARTHROTEC.60.txt
Saving ARTHROTEC.61.txt to ARTHROTEC.61.txt
Saving ARTHROTEC.62.txt to ARTHROTEC.62.txt
Saving ARTHROTEC.63.txt to ARTHROTEC.63.txt
Saving ARTHROTEC.64.txt to ARTHROTEC.64.txt
Saving ARTHROTEC.65.txt to ARTHROTEC.65.txt
Saving ARTHROTEC.66.txt to ARTHROTEC.66.txt
Saving ARTHROTEC.67.txt to ARTHROTEC.67.txt
Saving ARTHROTEC.68.txt to ARTHROTEC.68.txt
Saving ARTHROTEC.69.txt to ARTHROTEC.69.txt
Saving ARTHROTEC.70.txt to ARTHROTEC.70.txt
Saving ARTHROTEC.71.txt to ARTHROTEC.71.txt
Saving ARTHROTEC.72.txt to ARTHROTEC.72.txt
Saving ARTHROTEC.73.txt to ARTHROTEC.73.txt
Saving ARTHROTEC.74.txt to ARTHROTEC.74.txt
Saving ARTHROTEC.75.txt to ARTHROTEC.75.txt
Saving ARTHROTEC.76.txt to ARTHROTEC.76.txt
Saving ARTHROTEC.77.txt to ARTHROTEC.77.txt
Saving ARTHROTEC.78.txt to ARTHROTEC.78.txt
Saving ARTHROTEC.79.txt to ARTHROTEC.79.txt
Saving ARTHROTEC.80.txt to ARTHROTEC.80.txt
Saving ARTHROTEC.81.txt to ARTHROTEC.81.txt
Saving ARTHROTEC.82.txt to ARTHROTEC.82.txt
Saving ARTHROTEC.83.txt to ARTHROTEC.83.txt
Saving ARTHROTEC.84.txt to ARTHROTEC.84.txt
Saving ARTHROTEC.85.txt to ARTHROTEC.85.txt
Saving ARTHROTEC.86.txt to ARTHROTEC.86.txt
Saving ARTHROTEC.87.txt to ARTHROTEC.87.txt
Saving ARTHROTEC.88.txt to ARTHROTEC.88.txt
Saving ARTHROTEC.89.txt to ARTHROTEC.89.txt
Saving ARTHROTEC.90.txt to ARTHROTEC.90.txt
Saving ARTHROTEC.91.txt to ARTHROTEC.91.txt
Saving ARTHROTEC.92.txt to ARTHROTEC.92.txt
Saving ARTHROTEC.93.txt to ARTHROTEC.93.txt
Saving ARTHROTEC.94.txt to ARTHROTEC.94.txt
Saving ARTHROTEC.95.txt to ARTHROTEC.95.txt
Saving ARTHROTEC.96.txt to ARTHROTEC.96.txt
Saving ARTHROTEC.97.txt to ARTHROTEC.97.txt
Saving ARTHROTEC.98.txt to ARTHROTEC.98.txt
Saving ARTHROTEC.99.txt to ARTHROTEC.99.txt
Saving ARTHROTEC.100.txt to ARTHROTEC.100.txt

In [0]:
import csv
import pandas as pd
index_list=[]
lines=[]
for file in uploaded:
  with open(file,'r') as reader:
    text=reader.read()
    a=text.splitlines()
    for index in range(len(a)):
        index_list.append(file+str(index))
    for li in a:
      lines.append(li)
df=pd.DataFrame(lines)
df1=pd.DataFrame(index_list)
df1.rename(columns={0:'Sentence ID'},inplace=True)
final_df=pd.concat([df1,df],axis=1)
final_df
final_df.to_csv('result.csv')

In [0]:
#final_df["new_column"] = final_df.iloc[:,1:].str.replace('[^\w\s]','')
final_df['new']=final_df.iloc[:,1].str.replace('[^\w\s]','')
final_df.to_csv('result.csv')

In [0]:
def wordcount(x):
  cou=[]
  data_frame= final_df[final_df['new'].str.contains(x)] 
  for duplicate_count in data_frame['new']:
      cou.append(duplicate_count.count(x))
  data_frame['count']=cou
  data_frame.rename(columns={data_frame.columns[1]:'Sentence Text'},inplace=True)
  return data_frame

input_data=str(input("Enter a Word "))
wordcount(input_data)

Enter a Word twice

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

           Sentence ID  ... count
2     ARTHROTEC.1.txt2  ...     1
44    ARTHROTEC.9.txt0  ...     1
58   ARTHROTEC.12.txt4  ...     1
403  ARTHROTEC.72.txt0  ...     1
432  ARTHROTEC.79.txt5  ...     1
523  ARTHROTEC.99.txt2  ...     1

[6 rows x 4 columns]

(4) Install packages nltk, numpy, scipy, pandas, and sklearn on Google Colab. Write a program to test whether they are installed successfully.

In [0]:
# write your answer here
import nltk
nltk.download("popular")

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [0]:
#NLTK
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.corpus import wordnet
Simple_text = "Hello My name is Akhil, and I am doing doing masters in Data Science at UNT"
print(sent_tokenize(Simple_text))
print(word_tokenize(Simple_text))
word= wordnet.synsets("lungs")
print(word[0].definition())

['Hello My name is Akhil, and I am doing doing masters in Data Science at UNT']
['Hello', 'My', 'name', 'is', 'Akhil', ',', 'and', 'I', 'am', 'doing', 'doing', 'masters', 'in', 'Data', 'Science', 'at', 'UNT']
either of two saclike respiratory organs in the chest of vertebrates; serves to remove carbon dioxide and provide oxygen to the blood

In [0]:
#Numpy
import numpy as np
num=np.array([[1,2,3],[4,5,6],[7,8,9]])
for a in num:
  for b in a:
    print(b)

1
2
3
4
5
6
7
8
9

In [0]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.6.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.17.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
#Pandas
import pandas as pd
list1=[12,34,56,7,8,8]
list2=[5,6,7,78,6,7]
df=pd.DataFrame(list1,list2)
df.rename(columns={0:'num'},inplace=True)
df

    num
5    12
6    34
7    56
78    7
6     8
7     8

In [0]:
pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.17.5)

In [0]:
#Scipy
from scipy import special,linalg
exp= special.exp10(7)
sigmoid= special.sindg(10)
cos= special.cosdg(45)
array1= np.array([[1,8],[0,2]])
array2= np.array([[8],[69]])
result= linalg.solve(array1,array2)
print(f"Exponetial {exp}")
print(f"Cosine {cos}")
print(f"sigmoid {sigmoid}")
print(f"linear algebra solution {result}" )

Exponetial 10000000.0
Cosine 0.7071067811865475
sigmoid 0.17364817766693033
linear algebra solution [[-268. ]
 [  34.5]]

In [0]:
pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.17.5)

In [0]:
#sklearn
from sklearn import datasets,cluster
iris_data= datasets.load_iris()
KMEANS = cluster.KMeans(3)
print(iris.data.shape)
print(KMEANS)

(150, 4)
KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)